* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.imgchest.com/files/l4necm53l4m.png");
  opacity: 0.5;
  background-repeat: no-repeat;
}

.container {
  max-width: 1400px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.container > * {
  background-color: lightblue;
  font-size: 10rem;
  color: blue;
  border: 2px dashed blue;
  align-items: center;
}
.box1 {
  flex-basis: 100%;
  height: 200px;
}

.box2 {
  flex-basis: 26%;
  flex-grow: 2;
  height: 200px;
}

.box3 {
  flex-basis: 59.2%;
  flex-grow: 1;
  height: 200px;
}

.box4,
.box5,
.box6 {
  flex-basis: 32%;
  flex-grow: 1;
  height: 200px;
}
