/* grid.css */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://cdn.imgchest.com/files/6yxkcg93k7w.png);
  background-repeat: no-repeat;
  max-width: 1540px;
  min-height: 1583px;
  font-size: 2rem;
  opacity: 0.5;
}

.container {
  display: grid;
  grid-template-columns: 200px 233px 663px 439px;
  grid-template-rows: 100px 512px 385px 573px;
  grid-template-areas:
    "box1 box5 box5 box5"
    "box2 box2 box2 box2"
    "box3 box3 box3 box3"
    "box4 box4 box6 box7";
}

.container > * {
  border: 2px dashed blue;
}

.box1 {
  grid-area: box1;
}

.box5 {
  grid-area: box5;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}
